@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Text";
    display: flex;
    justify-content: center;
    background-color: hsl(26, 54%, 97%);
    padding: 5.4rem 7rem;
}

.container {
    display: flex;
    max-width: 1440px;
    align-items: start;
    gap: 2.5%;
}

.wrapper {
    width: 67%;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.75rem;
}

.items {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 25px;
}

.item {
    line-height: 1.5rem;
}

.item-image {
    position: relative;
}

.item-image>img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.category {
    margin-top: 2rem;
    font-size: .9rem;
    font-weight: 500;
    color: hsl(7, 20%, 60%);
}

.item-name {
    font-weight: 600;
}

.price {
    font-weight: 600;
    color: hsl(14, 86%, 42%);
}

.add2cart {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    font-size: .85rem;
    font-weight: 600;
    background-color: hsl(20, 50%, 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64%;
    border: 2px solid hsl(14, 25%, 72%);
    border-radius: 30px;
    padding: 3.5% 1%;
    gap: 0.5rem;
}

.add2cart>img {
    width: 12.5%;
}

.add2cart:hover {
    display: none;
    /* visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s; */
}

.add2cart:hover+.add2cartButtons {
    visibility: visible;
    opacity: 1;
}

.add2cartButtons {
    background-color: hsl(14, 86%, 42%);
    border: 2px solid hsl(14, 25%, 72%);
    border-radius: 30px;
    width: 64%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.75rem;
    padding: 3.75% 1%;
    visibility: hidden;
    opacity: 0;
}

.add2cartButtons>button {
    text-align: center justify;
    color: white;
    background-color: hsl(14, 86%, 42%);
    border: none;
    width: 1rem;
    height: 1rem;
}

.add2cartButtons>input {
    background-color: hsl(14, 86%, 42%);
    border: none;
    color: white;
    text-align: center;
    width: 20%;
}

.add2cartButtons>button {
    border: 1px solid white;
    border-radius: 50%;
}

.add2cartButtons>button:hover {
    background-color: white;
}

.add2cartButtons>button:hover img {
    filter: brightness(0) saturate(100%) invert(25%) sepia(43%)
}

.icon-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {
    width: 33%;
    background: white;
    padding: 2%;
}

.cart-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(14, 86%, 42%);
    margin-bottom: 2rem;
}

.empty-cart {
    text-align: center;
}

.empty-cart p {
    font-size: .9rem;
    font-weight: 600;
    color: hsl(7, 20%, 60%);
    text-align: center;
    margin-top: 1rem;
}

.loaded-cart {
    display: none;
}